# Для Keycloak (ожидает контейнер)
KEYCLOAK_ADMIN=admin

# Для приложения
BASE_URL=http://127.0.0.1:8000

KEYCLOAK_SERVER_URL=http://localhost:8080/
KEYCLOAK_REALM=master
KEYCLOAK_CLIENT_ID=admin-cli
KEYCLOAK_CLIENT_SECRET=

KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# PostgreSQL Keycloak
POSTGRES_DB=keycloak
POSTGRES_USER=keycloak
POSTGRES_PASSWORD=keycloak